/* Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.header__logo {
    padding: 10px 0 10px 20px;
}

main {
    background-color: #F5F8F9;
    padding: 40px 0;
    height: 100vh;
}

.container {
    background-color: #FFF;
    width: 80%;
    float: right;
    margin-right: 50px;
}

.container__options {
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 15px 0;
}

.container__options-buttons {
    padding-left: 50px;
}

.container__tasks {
    padding: 0 0 30px 50px;
}

.container__tasks > section {
    padding: 20px 0 10px 0;
}

.task {
    padding: 5px 0;
}

.container__options-button {
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid grey
}

.container__options-button.add-task {
    background-color:#18a9f5; 
}

.container__options-button:hover {
    background-color:#0d78b1; 
}

.category-label {
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
    font-size: 10px;
}

.category-label.editorial {
    background-color: #08A9ED;
}

.category-label.mobile {
    background-color: #FF9C00;
}

.category-label.q1-goals {
    background-color: #AC5DE6;
}

.category-label.recruiting {
    background-color: #2CC6AB;
}

.category-label.sales {
    background-color: #A3D115;
}

.category-label.website {
    background-color: #EC499D;
}

.task input[type="checkbox"] {
    display: none;
    border: none;
    cursor: pointer;
}

.task input[type="checkbox"]:checked + label:before {
    content: "\2714";
    color: #71D5C1;
    padding: 3px 5px;
}

.task input[type="checkbox"] + label:before {
    content: "\2717";
    color: #FF6766;
    padding: 3px 7px;
    border: 1px solid;
    border-radius: 50%;
    font-size: 12px;
}

.task label {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

h2 {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrow {
    font-size: 15px;
    padding-right: 10px;
}

.closed {
    display: none;
}
